projects/
.vim/
.bash/git-aware-prompt/
.config/gtk-2.0/gtkfilechooser.ini
.ssh/
.nvm/
.sudo_as_admin_successful
vmware
Android
android-studio
.rvm
.vmware
.xsession*
.mplayer
.pki
.wget-hsts
.xournal
.mozilla
.gem
.gnome
.gnupg
.icons
.ipython
.dbus
.dosbox
.*~
.zcompdump*
VirtualBox*
*_scrot.png
.emacs.d
miniconda2
recording
data
bitbucket
Downloads/
Calibre\ Library
.viminfo
.tmux/
.oracle*
.node_repl*
.local/
.config/
.cache/
.bundle/
*.bak
.bash_history
.aptitude
.android
.lesshst
.jupyter
.java
.irb-history
.Xauthority
.ICEauthority
.FBReader
.AndroidStudio*/
.fonts/PragmataPro.ttf
.histfile
.oh-my-zsh
.zsh-update
.zsh_history
.zshrc.zni
.zcompdump-diegopc-5.2-dev-1
.audacity-data/
.conda/
.cordova/
.ctags
.dbeaver/
.eclipse/
.freemind/
.gradle/
.gtimer/
.guard_history
.install4j
.ionic/
.jprofiler9/
.mysql/
.mysql_history
.node-gyp/
.npm/
.pry_history
.rediscli_history
.rnd
.v8flags.4.5.103.35.novo.json
.x
.zshrc.pre-oh-my-zsh
.vim/bundle
tactical
Desktop
anaconda2
core
escaneados 001.jpg
escaneados 002.jpg
mbox
docs
p12
approved.svg
iOS.mm
.zhistory
.zlogin
.zlogout
.zprezto/
.zshenv
