! ------------------------------------------------------------------------------
! ! ROFI Color theme
! ! ------------------------------------------------------------------------------
 rofi.color-enabled: true
 rofi.color-window: #000000, #000000, #341931
 rofi.color-normal: #000000, #ffffff, #000000, #341931, #ffffff
 rofi.color-active: #000000, #341931, #000000, #341931, #205171
 rofi.color-urgent: #000000, #f3843d, #000000, #341931, #ffc39c
